<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Authors Jerome Blanchard <jayblanc@gmail.com> - Christophe Bouthier <christophe.bouthier@loria.fr> 
		Date 4 December 2009
	-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>Factory UI Core service test</display-name>

	<servlet>
		<description>Servlet </description>
		<display-name>CoreServlet</display-name>
		<servlet-name>CoreServlet</servlet-name>
		<servlet-class>org.qualipso.factory.ui.core.core.server.CoreServletImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CoreServlet</servlet-name>
		<url-pattern>/core/core</url-pattern>
	</servlet-mapping>

</web-app>
